TgCrypto
pyrogram
pyromod
google_trans_new
motor
dnspython
requests
asyncio
aiohttp
aiofiles
pillow
tswift
GitPython
heroku3
python-arq
psycopg2
youtube-search-python
pytube
removebg
